
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}
.imgg{
  object-position: 0% 0%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    float: right;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1); 
}
.container1 {
    margin: 50px 15px 10px 0;
    width: 60%;
    float: right;
}
.container .container1 p a{
    text-decoration: none;
    color: #147d2b;
}
.container .container1 header{
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.container .container1 form{
    position: relative;
    margin-top: 16px;
    background-color: #fff;
    overflow: hidden;
}
.container .container1 form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.container .container1 form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #147d2b;
}
form button i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button{
    margin-right: 14px;
}

